<div class="container-fluid vh-100">
    <div class="row h-100">

        <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center"
            style="background: #a8e6cf;">
            <h2 class="fw-semibold" style="color: #1e8449;">Bem-vindo de volta!</h2>
        </div>

        <div class="col-md-6 d-flex align-items-center justify-content-center bg-dark">
            <div class="w-100" style="max-width: 400px; padding: 2rem; border-radius: 0.5rem; 
            background-color: #000000; color: #ffffff; box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.3);">

                <h1 class="text-center mb-4 fw-bold text-success">
                    AGENDA DE TAREFAS
                </h1>

                <h3 class="mb-4 text-center">Acesse sua conta</h3>

                <form [formGroup]="form" (ngSubmit)="onSubmit()">

                    <div class="mb-3">
                        <label for="email" class="form-label text-white">E-mail</label>
                        <input type="email" id="email" class="form-control w-100" placeholder="Digite seu e-mail"
                            formControlName="email">
                        <div class="text-danger mt-1" *ngIf="form.get('email')?.touched">
                            <span *ngIf="form.get('email')?.hasError('required')">O e-mail é obrigatório.</span>
                            <span *ngIf="form.get('email')?.hasError('email')">Formato de e-mail inválido.</span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="senha" class="form-label text-white">Senha</label>
                        <input type="password" id="senha" class="form-control w-100" placeholder="Digite sua senha"
                            formControlName="senha">
                        <div class="text-danger mt-1" *ngIf="form.get('senha')?.touched">
                            <span *ngIf="form.get('senha')?.hasError('required')">A senha é obrigatória.</span>
                            <span *ngIf="form.get('senha')?.hasError('minlength')">A senha deve ter no mínimo 8
                                caracteres.</span>
                        </div>
                    </div>

                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-success w-100" [disabled]="form.invalid">
                            Entrar
                        </button>
                    </div>

                    <p class="text-center">
                        Não tem conta?
                        <a routerLink="/pages/criar-usuario" class="text-success text-decoration-none">Cadastre-se
                            aqui</a>
                    </p>

                </form>
            </div>
        </div>
    </div>
</div>